<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name='viewport'
        content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <style>
        html,
        body {
            background: #eee;
        }
    </style>
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self' http://127.0.0.1:5000">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://login.yandex.ru; style-src 'self' 'unsafe-inline' https://login.yandex.ru;">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
</head>

<body>
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' https://login.yandex.ru; style-src 'self' 'unsafe-inline' https://login.yandex.ru;">
    <script>
        window.onload = function () {
            window.YaSuggestClient.on('token', function (token) {
                console.log('Получен токен:', token);

                // Отправка токена на сервер
                fetch('http://127.0.0.1:5000/handle_yandex_token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token }),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Ответ от сервера:', data);

                        window.location.href = 'http://127.0.0.1:5000/home';
                    })
                    .catch(error => {
                        console.error('Ошибка при отправке токена:', error);
                    });
            });
            window.YaSendSuggestToken('http://127.0.0.1:5000/home', { flag: true });
        };
    </script>
</body>

</html>